/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     background-color: #f7f3ee;
     min-height: 100vh;
}


/******************************************
/* LAYOUT
/*******************************************/
header {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     color: black;
     height: 10%;
     background: rgb(224,249,196);
     background: radial-gradient(circle, rgba(224,249,196,1) 10%, rgba(64,116,3,1) 88%, rgba(13,103,16,0.9640990185136554) 97%); 
     background-repeat: no-repeat;  
     font-family: 'Ibarra Real Nova', 'serif';
}

header > h1 {
     font-family: 'Rye', 'serif';
     font-weight: 400;
}

header > h3 {
     margin: 1.5em;
}

main {
     display: flex;
     justify-content: center;
}

.hero {
     display: flex;
     flex-direction: row;
     margin: 1.5em;
     background-color: #f7f3ee;;
     color: black;
     border-radius: .125em;
     height: 80%;
     max-width: 60%;
     font-family: 'Ibarra Real Nova', 'serif';
     align-items: center;
}

img {
     max-height: 75vh;
     border-radius: .175em;
     margin: .75em;
     
}

.hero > section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero > section > h3 {
     font-size: larger;
 }

.hero > section > p {
    max-width: 90%;
    
}

.press {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
}

footer {
     display: flex;
     flex-direction: row;
     justify-content: center;
     height: 10%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
